<h1>Departments With Events</h1>

<p>This page will show which events belong to each department.</p>

<table class="table">
  <thead>
    <tr>
      <th>Department</th>
      <th>Event Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#if events.length}}
      {{#each events}}
        <tr>
          <td>{{this.Departments_departmentId}}</td>
          <td>{{this.Events_eventId}}</td>
          <td><button>Delete</button></td>
        </tr>
      {{/each}}
    {{else}}
    <tr><td colspan="2">No data yet.</td></tr>
    {{/if}}
  </tbody>
</table>
