<h1>Events With Students</h1>

<p>This page will show which students attended which events.</p>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <tr><td colspan="2">No data yet.</td></tr>
  </tbody>
</table>
