.site-header{
    background-color: #003366;
    color: white;
    padding: 10px 0;
}

.site-header .title{
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.header-nav .nav-list{
    display: flex;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    gap: 1rem;
    align-items: center;
    
}

.header-nav .nav-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 999px;
    background-color: #0055aa;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    height: 48px;
    padding: 0 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
    
    
}

.header-nav .nav-item a:hover{
    background-color: #0077ff;
}