:root{
    --primary-color: #2c3e50;
    --secondary-color: #18bc9c;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}